@{
    var id = @ViewBag.PokeInfo["id"];
    var name = @ViewBag.PokeInfo["name"];
    ViewData["Title"] = $"Pokemon ({id}) {name} ";
    string path = @ViewBag.PokeInfo["sprites"]["front_default"];
    var allTypes = @ViewBag.PokeInfo["types"];
    var PrimaryType = "";
    foreach (var t in allTypes) {
        if (t.slot == 1)
        {
            PrimaryType = t.type["name"];
        }
    }

}
<h1>Pokemon info here:</h1>

<ul>
    <!-- <li>Id:       @ViewBag.PokeInfo["id"]</li>
    <li>Order:    @ViewBag.PokeInfo["order"]</li> -->
    <li>Name:     @ViewBag.PokeInfo["name"]</li>    
    <li>Type:     @PrimaryType</li>
    <li>Height:   @ViewBag.PokeInfo["height"]</li>
    <li>Weight:   @ViewBag.PokeInfo["weight"]</li>
    <!-- <li>Base Exp: @ViewBag.PokeInfo["base_experience"]</li>
    <li>Default?: @ViewBag.PokeInfo["is_default"]</li> -->
    <img src=@path alt="">
</ul>
<!-- location_area_encounters /api/v2/pokemon/1/encounters -->
<!-- forms [ { "url": "https://pokeapi.co/api/v2/pokemon-form/1/", "name": "bulbasaur" } ] -->
<!-- abilities [ { "slot": 3, "is_hidden": true, "ability": { "url": "https://pokeapi.co/api/v2/ability/34/", "name": "chlorophyll" } }, { "slot": 1, "is_hidden": false, "ability": { "url": "https://pokeapi.co/api/v2/ability/65/", "name": "overgrow" } } ] -->
<!-- stats [ { "stat": { "url": "https://pokeapi.co/api/v2/stat/6/", "name": "speed" }, "effort": 0, "base_stat": 45 }, { "stat": { "url": "https://pokeapi.co/api/v2/stat/5/", "name": "special-defense" }, "effort": 0, "base_stat": 65 }, { "stat": { "url": "https://pokeapi.co/api/v2/stat/4/", "name": "special-attack" }, "effort": 1, "base_stat": 65 }, { "stat": { "url": "https://pokeapi.co/api/v2/stat/3/", "name": "defense" }, "effort": 0, "base_stat": 49 }, { "stat": { "url": "https://pokeapi.co/api/v2/stat/2/", "name": "attack" }, "effort": 0, "base_stat": 49 }, { "stat": { "url": "https://pokeapi.co/api/v2/stat/1/", "name": "hp" }, "effort": 0, "base_stat": 45 } ] -->
<!-- sprites { "back_female": null, "back_shiny_female": null, "back_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png", "front_female": null, "front_shiny_female": null, "back_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/1.png", "front_default": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png", "front_shiny": "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/1.png" } -->
<!-- species { "url": "https://pokeapi.co/api/v2/pokemon-species/1/", "name": "bulbasaur" } -->
<!-- game_indices [ { "version": { "url": "https://pokeapi.co/api/v2/version/22/", "name": "white-2" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/21/", "name": "black-2" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/18/", "name": "white" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/17/", "name": "black" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/16/", "name": "soulsilver" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/15/", "name": "heartgold" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/14/", "name": "platinum" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/13/", "name": "pearl" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/12/", "name": "diamond" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/11/", "name": "leafgreen" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/10/", "name": "firered" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/9/", "name": "emerald" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/8/", "name": "sapphire" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/7/", "name": "ruby" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/6/", "name": "crystal" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/5/", "name": "silver" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/4/", "name": "gold" }, "game_index": 1 }, { "version": { "url": "https://pokeapi.co/api/v2/version/3/", "name": "yellow" }, "game_index": 153 }, { "version": { "url": "https://pokeapi.co/api/v2/version/2/", "name": "blue" }, "game_index": 153 }, { "version": { "url": "https://pokeapi.co/api/v2/version/1/", "name": "red" }, "game_index": 153 } ] -->
<!-- types [ { "slot": 2, "type": { "url": "https://pokeapi.co/api/v2/type/4/", "name": "poison" } }, { "slot": 1, "type": { "url": "https://pokeapi.co/api/v2/type/12/", "name": "grass" } } ] -->
<!-- held_items [] -->
